{% extends "trainer_register/base.html" %}
{% load static %}

{% block content %}
    <h1 class="display-6">List of all Trainers!</h1>
    <hr class="my-4">
    <table class="table table-borderless text-white">
        <thead class="border-bottom font-weight-bold text-white">
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Course Type</td>
                <td>Subject</td>
                <td>
                    <a href="{% url 'trainer_insert' %}" class="btn text-secondary px-0">
                        <i class="fa-solid fa-user-plus"></i> Add New
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for trainer in trainer_list %}
                <tr>
                    <td>{{trainer.first_name}}</td>
                    <td>{{trainer.last_name}}</td>
                    <td>{{trainer.course}}</td>
                    <td>{{trainer.subject}}</td>
                    <td>
                        <a href="{% url 'trainer_update' trainer.id %}" class="btn text-secondary px-0">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                        <form action="{% url 'trainer_delete' trainer.id %}" method="post" class="d-inline">
                        {%csrf_token%}
                            <button type="submit" class="btn ">
                                <i class="far fa-trash-alt fa lg text-danger float-right"></i>
                            </button>
                        </form>
                    </td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
